.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
  
    background: rgb(17, 3, 32);
  }

  #leftHalf {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: #576842;
  }
  
  #rightHalf {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
  }