  #leftHalf {
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: #576842;
  }
  
  #rightHalf {
    width: 40%;
    position: absolute;
    right: 0px;
    height: 100%;
  }

  #logo {
    width: 80%;
    margin: auto;
    display: block;
  }